// Variables
@import "./variables";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.bg {
  // position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  color: white !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #02a39b !important;
}

.MuiInput-underline:after {
  border-color: #02a39b !important;
}

.custom-button {
  text-transform: none !important;
  background-color: #01645f !important;
  transition: all 0.3s !important;
  outline: none !important;
  font-family: Montserrat, sans-serif !important;
  color: white !important;
  &:hover {
    background-color: #02a39b !important;
  }
}

.profile-menu {
  width: 260px !important;
  margin-top: 50px;
}

.loader {
  color: white !important;
  width: 23px !important;
  height: 23px !important;
  margin: 3px 0;
}

@media only screen and (max-width: 576px){
  .profile-menu{
    margin-top: 60px;
  }
}

// log in
@import "./login/login";

// lectures
@import "./lectures/lectures";

// Profile
@import "./profile/profile";

// Dashboard
@import "./dashboard/dashboard";
